<template name="project">
	<div class="project">
		<h1>
			{{#linkTo route="projectPage"}}
				<img class="lazy" data-src="{{cdnUri title_image.file_name}}" data-retina-src="{{cdnUri title_image.file_name_at2x}}" alt="{{title}}" width="{{title_image.width}}" height="{{title_image.height}}" />
			{{/linkTo}}
		</h1>
		{{#if description}}<p class="description">{{description}}</p>{{/if}}
		<ul class="photos">
		{{#each photos}}
			<li>
			{{#linkTo route="projectPhotoPage" project_id=../_id}}
				<img {{getImgTag '300'}} />
			{{/linkTo}}
			</li>
		{{/each}}
		</ul>
	</div>
</template>
