@import url(http://fonts.googleapis.com/css?family=Arimo);
@import 'mixins.import.less';

body {
	margin: 0;
	padding: 0 10px 10px 10px;
	background: #fffffd;
	&.dark {
		background: #191919;
	}

	font-family: 'Arimo', sans-serif;
	font-size: @font-size-base;
	-webkit-font-smoothing: antialiased;

	.hide-on-idle {
		transition: opacity 0.4s ease-in-out;
	}

	&.idle {
		.hide-on-idle {
			opacity: 0;
		}
	}
}

a {
	color: #000;
	.dark & {
		color: #fff;
		&:hover,
		&:active {
			color: darken(#fff, 20%);
		}
	}

	text-decoration: none;
	&:hover,
	&:active {
		color: lighten(#000, 20%);
	}
}

h1 {
	font-size: @font-size-xlarge;
}

h2 {
	font-size: @font-size-large;
}

img {
	border: 0;
}

.header {
	margin: 15px 0 20px 0;
	text-align: center;
	font-size: @font-size-small;

	a, span {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		font-size: @font-size-base;
	}

	a {
		color: #666;

		.dark & {
			color: #ccc;
		}

		&:hover {
			color: #000;
			.dark & {
				color: #aaa;
			}
		}
	}

	span {
		font-weight: bold;

		.dark & {
			color: #fff;
		}
	}

	span.divider {
		margin: 0 5px;
		width: 10px;
		background: #ccc;

		.dark & {
			background: #555;
		}

		width: 1px;
		min-width: 0;
		height: 20px;
	}
}

.back-link {
	position: absolute;
	display: block;
	text-align: center;
	width: 100px;
	top: 15px;
	left: 50%;
	margin-left: -50px;
	z-index: 4;

	span {
		&.desktop {
			display: none;
		}
	}
}

@media (min-width: @screen-sm-min) {
	.header {
		margin-top: 30px;

		a, span {
			font-size: @font-size-large;
			min-width: 160px;
		}

		a:first-child,
		span:first-child {
			text-align: right;
		}

		a:last-child,
		span:last-child {
			text-align: left;
		}
	}

	.back-link {
		position: relative;
		top: 0;
		left: 10px;
		min-height: 15px;
		width: auto;
		padding: 20px;
		margin: 0;
		text-align: left;
		.at2x("@{cdn}/img/black-back.png", 15px, 15px);
		.dark & {
			.at2x("@{cdn}/img/back.png", 15px, 15px);
		}
		background-position: 0 50%;

		span {
			max-width: none;
			margin: auto;

			&.desktop {
				display: inline;
			}

			&.mobile {
				display: none;
			}
		}
	}
}
