@import url(http://fonts.googleapis.com/css?family=Arimo);
@import 'mixins.import.less';

body {
	margin: 0;
	padding: 10px;
	background: @background-color;
	font-family: 'Arimo', sans-serif;
	font-size: @font-size-base;
}

h1 {
	font-size: @font-size-xlarge;
}

h2 {
	font-size: @font-size-large;
}

.header {
	margin: 5px 0;

	a, span {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		font-size: @font-size-large;
	}

	a {
		color: @font-color;
		text-decoration: none;
	}

	span {
		font-weight: bold;
	}

	.divider {
		margin: 0 5px;
		width: 10px;
		background: #ccc;
		width: 1px;
		height: 20px;
	}
}

