@import 'mixins.import.less';

.photo-page {
	.photo {
		margin: 0 0 20px 0;
		z-index: 2;
		position: relative;
	
		.photo-img {
			position: relative;
			z-index: 1;
			margin: 0 -10px;
			img {
				width: 100%;
				height: auto;
			}

			.photo-loading {
				transition: opacity 0.2s ease-in-out;
				opacity: 0;
				position: absolute;
				background-color: rgba(255, 255, 255, 0.8);
				.dark & {
					background-color: rgba(0, 0, 0, 0.8);
				}

				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;

				.throbber {
					width: 100px;
					height: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -50px 0 0 -50px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					.at2x("@{cdn}/img/black-throbber.png", 100px, 100px);
					.dark & {
						.at2x("@{cdn}/img/throbber.png", 100px, 100px);
					}
				}
			}

			@keyframes spin { 100% { transform: rotate(360deg); } }

			&.loading .photo-loading {
				opacity: 1;
			}

			&.animate-throbber {
				.throbber {
					animation: spin 1s linear infinite;
				}
			}
		}

		.next-prev {
			z-index: 3;
			position: relative;
			height: 40px;
			margin-bottom: 10px;
		}

		.prev-link,
		.next-link {
			display: block;
			position: absolute;
			margin-bottom: 20px;
			background: none;
			width: 80px;
			height: 40px;
			text-indent: 90px;
			overflow: hidden;
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}

		.prev-link {
			left: 0;
			.at2x("@{cdn}/img/black-prev-mobile.png", 40px, 40px);
			.dark & {
				.at2x("@{cdn}/img/prev-mobile.png", 40px, 40px);
			}

			background-position: 0 50%;
		}

		.next-link {
			right: 0;
			.at2x("@{cdn}/img/black-next-mobile.png", 40px, 40px);
			.dark & {
				.at2x("@{cdn}/img/next-mobile.png", 40px, 40px);
			}

			background-position: 100% 50%;
		}
	}

	.info {
		color: #000;
		.dark & {
			color: #fff;
		}


		margin-top: 20px;

		p {
			opacity: 0.6;
		}
	}

	.meta-data {
		position: relative;
		z-index: 1;
		margin-top: 20px;
		list-style: none;
		padding: 0;
		font-size: @font-size-small;
		color: #333;

		li {
			border-top: 1px solid rgba(0, 0, 0, 0.2);
			padding: 5px 0;
		}

		strong {
			color: #000;
		}
	}

	@media (min-width: @screen-sm-min) {
		.photo {
			.photo-img {
				margin-left: 0;
				margin-right: 0;

				img {
					display: block;
					width: 65%;
					margin: 0 auto;
				}

				.photo-loading {
					width: 65%;
					margin: 0 auto;
				}
			}

			.next-prev {
				height: auto;
			}

			.prev-link,
			.next-link {
				top: 50px;
				transition: 0.2s ease-in-out;
				height: 100px;
				margin-top: 250px;
				width: 30%;
				overflow: hidden;
			}

			.prev-link {
				.at2x("@{cdn}/img/black-prev.png", 50px, 150px);
				.dark & {
					.at2x("@{cdn}/img/prev.png", 50px, 150px);
				}
			}

			.next-link {
				.at2x('@{cdn}/img/black-next.png', 50px, 150px);
				.dark & {
					.at2x('@{cdn}/img/next.png', 50px, 150px);
				}
			}
		}

		.info,
		.meta-data {
			width: 65%;
			margin: 40px auto;
		}
	}

	.photo-background-link {
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;

		img {
			opacity: 0.15;
			width: 100%;
			height: auto;
			filter: blur(15px);
		}
	}
}
