@import 'mixins.import.less';

.project-photo-page {
	.back-link {
		z-index: 3;
		position: relative;
	}

	.photo-background-link {
		background: #000;
	}

	p.copyright {
		font-size: @font-size-small;
		color: #fff;
		opacity: 0.4;
		text-align: center;
		margin: 20px 0;
	}
}
