@import 'mixins.import.less';

.ProjectPhotoPage {
	.back-link {
		z-index: 3;
		position: relative;
	}

	.photo-background-link {
		background: #000;
	}

	p.copyright {
		font-size: @font-size-small;
		color: #fff;
		opacity: 0.2;
	}

	@media (min-width: @screen-sm-min) {
		p.copyright {
			width: 65%;
			margin: 0 auto;
		}
	}
}
