.project {
	width: 960px;
	margin: 0 auto;

	h1 {
		clear: both;
		padding-top: 50px;
		text-align: center;
	}

	.description {
		text-align: center;
		padding-bottom: 50px;
	}

	ul.photos li img {
		width: 300px;
		height: 300px;
	}
}
