<template name="photo">
	{{setPageTitle title}}
	<div class="photo-page">
		<div class="photo">
		{{#with getPrevPhoto}}
			{{#if this}}
				{{#linkTo route="photo" class="prev-link"}}{{/linkTo}}
			{{/if}}
		{{/with}}
		<img {{getImgTag}} />
		{{#with getNextPhoto}}
			{{#if this}}
				{{#linkTo route="photo" class="next-link"}}{{/linkTo}}
			{{/if}}
		{{/with}}
		{{> photoInfo this }}
		{{> photoMetaData this }}
		</div>
		{{#linkTo route="photos" class="background"}}
			<img {{this.getImgTag}} />
		{{/linkTo}}
	</div>
</template>
