<template name="photoMetaData">
	<ul class="meta-data">
		{{#if photo_date}}<li><strong>Taken:</strong> {{dateFormatLong photo_date}}</li>{{/if}}
		{{#if meta_data.camera}}<li><strong>Camera:</strong> {{meta_data.camera}} {{meta_data.model}}</li>{{/if}}
		{{#if meta_data.lens}}<li><strong>Lens:</strong> {{meta_data.lens}}</li>{{/if}}
		{{#if meta_data.city}}<li><strong>Location:</strong> {{#if meta_data.location}}{{meta_data.location}}, {{/if}}{{meta_data.city}}</li>{{/if}}
		<li><strong>Added:</strong> {{dateFormatLong publish_date}}</li>
		<li><strong>Copyright:</strong> All rights reserved {{dateFormat photo_date 'YYYY'}}, Nicholas Burka</li>
	</ul>
</template>
