<template name="projectPhoto">
	{{setPageTitle project.title photo.title}}
	<div class="photo-page">
		<div class="photo">
			<div class="next-prev">
				{{#with getPrevPhoto}}
					{{#if this}}
						{{#linkTo route="projectPhoto" project_id=../project._id class="prev-link"}}{{/linkTo}}
					{{/if}}
				{{/with}}
				{{#with getNextPhoto}}
					{{#if this}}
						{{#linkTo route="projectPhoto" project_id=../project._id class="next-link"}}{{/linkTo}}
					{{/if}}
				{{/with}}
			</div>
			<div class="photo-img">
				<img {{photo.getImgTag '1000'}} />
			</div>
			{{> photoInfo photo }}
			<p class="copyright">All rights reserved {{dateFormat photo_date 'YYYY'}}, Nicholas Burka</p>
		</div>
		<div class="background"><img {{photo.getImgTag '1000'}} /></div>
	</div>
</template>
