<template name="photoPage">
	{{setPageTitle title}}
	{{removeBodyClass 'dark'}}
	{{#linkTo route="photosPage" class="back-link hide-on-idle"}}Back to All Photos{{/linkTo}}
	<div class="photo">
		<div class="next-prev hide-on-idle">
			{{#with getPrevPhoto}}
				{{#if this}}
					{{#linkTo route="photoPage" class="prev-link"}}{{/linkTo}}
				{{/if}}
			{{/with}}
			{{#with getNextPhoto}}
				{{#if this}}
					{{#linkTo route="photoPage" class="next-link"}}{{/linkTo}}
				{{/if}}
			{{/with}}
		</div>
		<div class="photo-img">
			<img {{getImgTag '1000'}} />
		</div>
	</div>
	{{> photoInfo this }}
	{{> photoMetaData this }}
</template>
