<template name="projectPhotoPage">
	{{setPageTitle project.title photo.title}}
	{{addBodyClass 'dark'}}
	{{#linkTo route="projectPage" _id=project._id class="back-link hide-on-idle"}}<span class="desktop">{{project.title}}</span><span class="mobile">Back</span>{{/linkTo}}
	<div class="PhotoPage">
		<div class="photo">
			<div class="next-prev hide-on-idle">
				{{#with getPrevPhoto}}
					{{#if this}}
						{{#linkTo route="projectPhotoPage" project_id=../project._id class="prev-link"}}{{/linkTo}}
					{{/if}}
				{{/with}}
				{{#with getNextPhoto}}
					{{#if this}}
						{{#linkTo route="projectPhotoPage" project_id=../project._id class="next-link"}}{{/linkTo}}
					{{/if}}
				{{/with}}
			</div>
			<div class="photo-img">
				<img {{photo.getImgTag '1000'}} />
			</div>
			{{> photoInfo photo }}
			<p class="copyright">All rights reserved {{dateFormat photo_date 'YYYY'}}, Nicholas Burka</p>
		</div>
		{{#linkTo route="projectPage" _id=project._id class="photo-background-link"}}
			<img {{photo.getImgTag '1000'}} />
		{{/linkTo}}
	</div>
</template>
